* *{
    margin: 0;
    padding: 0;
}
.nav{
    height: 60px;
    background-color: rgb(226, 110, 110);
   font-size: 1.8em;
    font-size: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900px;
}
ul{
    background-color:white;
    display:  block;
    text-align: right;
    height: 80px;
    text-decoration: none;
    padding-right: 50px;
}
li{
    display: inline-block;
    margin: 15px 17px ;
    cursor: pointer;
    list-style: none;
    
}
a:hover{
    color: red;
}
a{
    color: rgb(24, 24, 9);
    text-decoration: none;
}
.box{
    display: flex;
    justify-content: left;
    align-items: left;
}
.img{
    width: 200px;
}
.img-principal{
    width: 100%;
}
.menu-hambur{
    font-size: 1.8em;
    float: right;
    visibility: hidden;

}
.box-imagenes{
    display: grid;
    width: 90%;
   /*  background-color: blue; */
    margin: 0 auto;
    grid-template: "dsp-audi dsp-area dsp-tesla1 dsp-tesla2"
}
.dsp-audi{
    grid-area: dsp-audi;
}
.dsp-che{
    grid-area: dsp-che;
}
.dsp-tesla1{
    grid-area: dsp-tesla1;
}
.dsp-tesla2{
    grid-area: dsp-tesla2;
}
@media only screen and (min-width: 320px) and (max-width: 970px) {
    nav li {
        visibility: hidden;
    }
    .menu-hambur{
        visibility: visible;
    }
    .box-imagenes{
        grid-template: "dsp-audi"
                        "dsp-che"
                        "dsp-tesla1"
                        "dsp-tesla2"

    }
}